<%= h2 @branch.name %>


<p>
  <b><%= t "activerecord.attributes.branch.name" %>:</b>
  <%=h @branch.name %>
</p>

<p>
  <b><%= t "activerecord.attributes.branch.abbreviation" %>:</b>
  <%=h @branch.abbreviation %>
</p>

<p>
  <b><%= t "activerecord.attributes.branch.description" %>:</b>
  <%=h @branch.description %>
</p>
